<%- include('../layouts.ejs') %>
<div class="container-fluid p-0 min-vh-100" style="margin-top:0%">
  <%- include('../partials/userheader.ejs') %>


  

  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
    data-bs-interval="0"
  >
    <div class="carousel-inner">
      <div
        class="imageOne col-md-12 col-12 carousel-item active d-flex align-items-center">
        <!-- <div class="container  textCard text d-flex flex-column justify-content-center">
          <h4 style="color: #4a4949;">Are you ready to</h4>
          <h1  class=" col-lg-mb-3">Run with Trend</h1>
          <span class=" col-lg-mb-2">Luxury meets ultimate sitting comfort</span>
          <a href="/Shop"><button id="bannerDirect" class="btn btn-danger col-lg-mt-3">Discover</button></a>
      </div> -->
        <img
          src="/assets/banners/banner.png"
          class="CarouselImage d-block p-2 w-100 "
          alt="..."/>
      </div>
      <div class="carousel-item">
        <img
          src=""
          class="CarouselImage d-block p-2 h-50 w-100 h-50" 
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src=""
          class="CarouselImage d-block p-2 h-50 w-100 h-50"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <!-- line -->
    <div class="container">
      <hr class="line bg-dark" />
    </div>

    <!-- banner -->
    <div class="container">
      <a href="#"
        ><img
          src="/assets/banners/banner4.jpg"
          alt=""
          class="img-fluid p-3 bannerImage"
      /></a>
    </div>


    <!-- line -->
    <div class="container">
      <hr class="line bg-dark" />
    </div>
  </div>

  <div class="container d-flex p-3 justify-content-between">
    <div class="textHeading fw-bold fs-4"> All Products</div>
    <a href="#"><button class="productviewButton">view all products</button></a>
  </div>

  <!-- Product Container -->
  
  <section class="product container p-0">
    <button class="pre-btn"><img class="pre-btn-img" src="/assets/images/arrow.png" alt=""></button>
    <button class="nxt-btn"><img class="pre-btn-img" src="/assets/images/arrow.png" alt=""></button>
    <div class="product-container w-100">
        <% products.forEach((product,index)=>{ %>
            <div class="product-card ">
                <div class="product-image">
                    <span class="discount-tag"><%= product. productOffer %>% off</span>

                        <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                    <a href="/product-view/<%= product._id%>"><button class="card-btn">View Product</button></a>
                </div>
                <div class="product-info ">
                    <h2 class="product-brand product-name"><%= product.name %></h2>
                    <span class="price text-danger">₹ <%= product.price %></span><span class="actual-price">₹ <%= product.originalprice %></span>
                    <div class="rating d-flex align-items-center">
                        <div class="star d-flex align-items-center text-warning">
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="value ms-2">(75)</div>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
</section>

<!-- line -->
<div class="container">
  <hr class="line bg-dark" />
</div>


<section class="product container p-0">
  <button class="pre-btn"><img class="pre-btn-img" src="/assets/images/arrow.png" alt=""></button>
  <button class="nxt-btn"><img class="pre-btn-img" src="/assets/images/arrow.png" alt=""></button>
  <div class="product-container w-100">
      <% product.forEach((product,index)=>{ %>
          <div class="product-card ">
              <div class="product-image">
                  <span class="discount-tag"><%= product. productOffer %>% off</span>

                      <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                  <a href="/product-view/<%= product._id%>"><button class="card-btn">View Product</button></a>
              </div>
              <div class="product-info ">
                  <h2 class="product-brand product-name"><%= product.name %></h2>
                  <span class="price text-danger">₹ <%= product.price %></span><span class="actual-price">₹ <%= product.originalprice %></span>
                  <div class="rating d-flex align-items-center">
                      <div class="star d-flex align-items-center text-warning">
                          <i class="fa fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star-half-alt"></i>
                      </div>
                      <div class="value ms-2">(75)</div>
                  </div>
              </div>
          </div>
          <% }); %>
  </div>
</section>

<div class="container">
  <hr class="line bg-dark" />
</div>

  <!-- line -->
  <div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                    <h3 class="bbb_viewed_title">Mobiles
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="bbb_viewed_slider_container"> 
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        <% Mobiles.forEach((product,index)=>{ %>
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image">
                                    <a href="/product-view/<%= product._id%>">                                    <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                                    </a>
                                </a></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_name"><p ><%= product.name %></p></div>
                                    <div class="bbb_viewed_price">₹ <%= product.price %><span>₹ <%= product.originalprice %></span></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-<%= product. productOffer %>%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>

<div class="container">
  <hr class="line bg-dark" />
</div>

  <!-- line -->
  <div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                    <h3 class="bbb_viewed_title">Bluetooth Speakers
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="bbb_viewed_slider_container"> 
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        <% Speakers.forEach((product,index)=>{ %>
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image">
                                    <a href="/product-view/<%= product._id%>">                                    <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                                    </a>
                                </a></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_name"><p ><%= product.name %></p></div>
                                    <div class="bbb_viewed_price">₹ <%= product.price %><span>₹ <%= product.originalprice %></span></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-<%= product.productOffer %>%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>

<div class="container">
  <hr class="line bg-dark" />
</div>

  <!-- line -->
  <div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                    <h3 class="bbb_viewed_title">Smart Watch
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="bbb_viewed_slider_container"> 
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        <% Watch.forEach((product,index)=>{ %>
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image">
                                    <a href="/product-view/<%= product._id%>">                                    <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                                    </a>
                                </a></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_name"><p ><%= product.name %></p></div>
                                    <div class="bbb_viewed_price">₹ <%= product.price %><span>₹ <%= product.originalprice %></span></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-<%= product.productOffer %>%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>

<div class="container">
  <hr class="line bg-dark" />
</div>

  <!-- line -->
  <div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                    <h3 class="bbb_viewed_title">Head Phones
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="bbb_viewed_slider_container"> 
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        <% Air_Buds.forEach((product,index)=>{ %>
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image">
                                    <a href="/product-view/<%= product._id%>">                                    <img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                                    </a>
                                </a></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_name"><p ><%= product.name %></p></div>
                                    <div class="bbb_viewed_price">₹ <%= product.price %><span>₹ <%= product.originalprice %></span></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-<%= product.productOffer %>%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>

  <!-- line -->
  <div class="container">
    <hr class="line bg-dark" />
  </div>

  <!-- Service Card -->
  <div
    class="container p-3 mt-4 mb-2"
    style="background-color: rgb(249, 229, 203)"
  >
    <div class="row serviceCard border p-3">
      <div
        class="col-lg-4 delivery d-flex flex-column align-items-center justify-content-center"
      >
        <div>
          <img
            src="/assets/images/Services.png"
            alt=""
            class="img-fluid pb-3"
            style="width: 60px"
          />
        </div>
        <span class="fw-bold">FREE AND FAST DELIVERY</span>
        <p style="font-size: 12px">Free delivery for all orders over $140</p>
      </div>
      <div
        class="col-lg-4 coustomer d-flex flex-column align-items-center justify-content-center"
      >
        <div>
          <img
            src="/assets/images/Services2.png"
            alt=""
            class="img-fluid pb-3"
            style="width: 60px"
          />
        </div>
        <span class="fw-bold">FREE AND FAST DELIVERY</span>
        <p style="font-size: 12px">Free delivery for all orders over $140</p>
      </div>
      <div
        class="col-lg-4 guaranty d-flex flex-column align-items-center justify-content-center"
      >
        <div>
          <img
            src="/assets/images/Services3.png"
            alt=""
            class="img-fluid pb-3"
            style="width: 60px"
          />
        </div>
        <span class="fw-bold">FREE AND FAST DELIVERY</span>
        <p style="font-size: 12px">Free delivery for all orders over $140</p>
      </div>
    </div>
  </div>
</div>

 <!-- line -->
 <div class="container">
  <hr class="line bg-dark" />
</div>

<!-- <section>
  <div class="container-fluid">
    <div class="row">
      <div class="col md-4 ps-3">
        <img src="/assets/pictures/speed-vechile.png" alt="">
      </div>
      <div class="col md-4">
        <img src="/assets/pictures/payments.png" alt="">
      </div>
      <div class="col md-4">
        <img src="/assets/pictures/last-24-hours.png" alt="">
      </div>
  
    </div>
  </div>
</section> -->

<script>
  const productContainers = [
    ...document.querySelectorAll(".product-container"),
  ];
  const nxtBtn = [...document.querySelectorAll(".nxt-btn")];
  const preBtn = [...document.querySelectorAll(".pre-btn")];

  productContainers.forEach((item, i) => {
    let containerDimensions = item.getBoundingClientRect();
    let containerWidth = containerDimensions.width;

    nxtBtn[i].addEventListener("click", () => {
      item.scrollLeft += containerWidth;
    });

    preBtn[i].addEventListener("click", () => {
      item.scrollLeft -= containerWidth;
    });
  });
</script>

<%- include("../partials/foeter.ejs")%>
