<%- include('../layouts.ejs') %>

<div class="container-fluid p-0 min-vh-100" style="margin-top:8%">
    <%- include('../partials/userheader.ejs') %>

<div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                    <h3 class="bbb_viewed_title">Products</h3>
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="bbb_viewed_slider_container">
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        <% products.forEach((product,index)=>{ %>
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image">
                                    <a href="/product-view/<%= product._id%>"><img src="/productImages/<%=product.image[0] %>" class="product-thumb" alt="">
                                    </a>
                                </a></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_name"><p ><%= product.name %></p></div>
                                    <div class="bbb_viewed_price">₹ <%= product.price %><span>₹ <%= product.originalprice %></span></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>

</div>